<header>
	<div class="logo-container">
		<h1 id="logo">safety pin</h1>
		<p id="slogan">you're not alone</p>
	</div>
	<form class="" action="/auth/spotify" method="get">
		<button id="facebook-sign-in" type="submit" name="button">LOG IN WITH FACEBOOK</input>
	</form>
</header>
