<header>
	<div class="logo-container">
		<h1 id="logo">safety pin</h1>
		<p id="slogan">you're not alone</p>
	</div>
	<form class="" action="/auth/spotify" method="get">

		<button id="facebook-sign-in" type="submit" name="button">LOG IN WITH FACEBOOK</input>
	</form>
			<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
</header>
