<header>

	<div class="logo-container">
		<h1 id="logo">
			safety<div id="safetypin-logo"></div>pin
		</h1>
	</div>

	<form class="" action="/sessions/new" method="get">
		<button id="log-in-button" type="submit" name="button">LOG IN</button>
	</form>

	<p><a class="register-link" href="/users/new">Don't have an account? Register here.</a></p>

	<div class="arrow bounce"></div>

</header>

<main>

	<h2 id="slogan">you're not alone</h2>

	<div id="safetypin-large"></div>
	<div id="about-container">


		<h2 id="about">About Safety Pin</h2>
		<p>
			Putting a visual spin on the saying "You're not alone".
		</p>
		<p>
			In our current political climate, there are many people who are feeling unsafe for a variety of reasons. These people walk through life not knowing who is on their side and who might secretly (or not so secretly) wish them harm. Those who wish to be allies might not know the best way to reach out and show their solidarity.
		</p>
		<p>
			SafetyPin allows you to share your location with the hope of showing others they are not alone. While ideally people display their allyship in a variety of ways (especially through their actions) we find that visualization is often a great comfort to those in need.
		</p>
	</div>
</main>
