<header>
	<div class="logo-container">
		<h1 id="logo">safety pin</h1>
	</div>
	<form class="" action="" method="get">
		<button id="log-in-button" type="submit" name="button">LOG IN</input>
	</form>
</header>

<main>
	<p id="slogan">you're not alone</p>
</main>
