/*
*= require_tree .
*= require_self
*/

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #00012a;
  font-family: 'Homemade Apple', cursive;
  overflow: scroll;
}

header {

  background: #00012a; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #aeb5ff 3%, #3152ff 16%, #000fd9 20%, #00012a 50%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(circle, #aeb5ff 3%, #3152ff 16%, #000fd9 20%, #00012a 50%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(circle, #aeb5ff 3%, #3152ff 16%, #000fd9 20%, #00012a 50%); /* For Firefox 3.6-15 */
  background: radial-gradient(circle, #aeb5ff 3%, #3152ff 16%, #000fd9 20%, #00012a 50%); /* Standard syntax */

  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#logo {
  font-size: 400%;
  color: rgba(255, 255, 255, 0.75);
  height: 13vh;
}

p#slogan {
  color: white;
  padding-top: 3vh;
  z-index: 3;
  padding: 0;
  margin-top: 2vh;
  font-size: 1.6em;
}

button#log-in-button {
  width: 10vh;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: rgba(255, 218, 113, 0.77);;
  color: white;
  outline: none;
  margin-top: 15px;
}

button#log-in-button:hover {
  background-color: rgb(255, 218, 113);
  transform: scale(1.025);
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0.4px 0.4px grey;
}

button#log-in-button:active {
  outline: none;
  border: none;
}

main {
  color: white;
  height: 100vh;

  background: -webkit-radial-gradient(circle,#ffebb3, #5b74ff); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(circle, #ffebb3, #5b74ff); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(circle, #ffebb3, #5b74ff); /* For Firefox 3.6-15 */
  background: radial-gradient(circle, #ffebb3, #5b74ff);

  display: flex;
  flex-direction: column;
  align-items: center;
}
